.checkout-form {
    display: flex;
    flex-direction: column;
    background: plum;
    width: 350px;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
}

.checkout-form-item {
    display: flex;
    flex-direction: column;
    background: plum;
    margin: 10px;
}

.checkout-form-input {
    width: 90%;
    border-radius: 2px;
    text-indent: 10px;
}

.checkout-form-input:focus {
    outline: none;
    border-color: purple;
    box-shadow: 0 0 10px purple;
}